In [1]:
import pandas as pd
import numpy as np
import os
import pandas_datareader as pdr
from datetime import datetime

In [2]:
# set time frame
timeframe = '1D'

# start and end date
start_date = datetime(2004,6,1)
end_date = datetime(2009,6,1)

# set tickers
tickers = ['AMD', 'DIS']

#Which ticker from above list would you like to use?
#ticker = 0

# pulling data from pdr
tickers_df = pdr.DataReader(tickers,'yahoo',start_date,end_date)

In [3]:
%store tickers

Stored 'tickers' (list)

In [4]:
tickers_df.head()

Attributes Adj Close             Close              High               Low  \
Symbols          AMD        DIS    AMD        DIS    AMD        DIS    AMD
Date
2004-06-01     15.30  19.184828  15.30  23.518160  15.60  23.616810  15.15
2004-06-02     15.08  19.651575  15.08  24.090330  15.40  24.119925  14.89
2004-06-03     14.59  19.289444  14.59  23.646404  14.95  24.188980  14.58
2004-06-04     15.12  19.361872  15.12  23.735189  15.25  24.050871  14.83
2004-06-07     15.80  19.635481  15.80  24.070601  15.90  24.188980  15.29

Attributes              Open                Volume
Symbols           DIS    AMD        DIS        AMD        DIS
Date
2004-06-01  23.113695  15.50  23.478701  5964000.0  7336138.0
2004-06-02  23.064369  15.35  23.626675  6467500.0  8753472.0
2004-06-03  23.636539  14.95  23.922625  7615400.0  6509478.0
2004-06-04  23.685865  14.89  23.823975  9378400.0  4915560.0
2004-06-07  23.656269  15.30  23.922625  9807500.0  6578611.0

In [5]:
# closing prices dataframe
data = pd.DataFrame()

# get closing prices for all tickers in tickers
for ticker in tickers:
    data = pd.DataFrame()
    data[ticker]=tickers_df['Adj Close'][ticker]

In [6]:
data.rename(columns={tickers[0]: 'Close'}, inplace=True)

In [7]:
data

            Close        DIS
Date
2004-06-01  15.30  19.184828
2004-06-02  15.08  19.651575
2004-06-03  14.59  19.289444
2004-06-04  15.12  19.361872
2004-06-07  15.80  19.635481
...           ...        ...
2009-05-26   4.53  21.131382
2009-05-27   4.71  20.554443
2009-05-28   4.70  20.657774
2009-05-29   4.54  20.855825
2009-06-01   4.73  21.553316

[1259 rows x 2 columns]

In [8]:
# add percent change
data['daily_return'] = data['Close'].pct_change().dropna()
data['volume'] = tickers_df['Volume'][ticker]

In [9]:
data = data.dropna()
data.head()

            Close        DIS  daily_return     volume
Date
2004-06-02  15.08  19.651575     -0.014379  8753472.0
2004-06-03  14.59  19.289444     -0.032493  6509478.0
2004-06-04  15.12  19.361872      0.036326  4915560.0
2004-06-07  15.80  19.635481      0.044974  6578611.0
2004-06-08  16.18  19.796427      0.024051  5967157.0

In [10]:
# EWMA Short and Long Windows
short_window = 5
long_window = 50

# Fast and Slow EWMAs from short and long windows
data['ewma_short'] = data['Close'].ewm(halflife=short_window).mean()
data['ewma_long'] = data['Close'].ewm(halflife=long_window).mean()

# Construct a crossover trading signal
data['crossover_long'] = np.where(data['ewma_short'] > data['ewma_long'], 1.0, 0.0) 

# making sep columns if (where) fast passes close == long 
data['crossover_short'] = np.where(data['ewma_short'] < data['ewma_long'], -1.0, 0.0)
data['crossover_signal'] = data['crossover_long'] + data['crossover_short']

<ipython-input-10-06876fc3a873>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ewma_short'] = data['Close'].ewm(halflife=short_window).mean()
<ipython-input-10-06876fc3a873>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ewma_long'] = data['Close'].ewm(halflife=long_window).mean()
<ipython-input-10-06876fc3a873>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crossover_long'] = np.where(data['ewma_short'] > data['ewma_long'], 1.0, 0.0)
<ipython-input-10-06876fc3a873>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crossover_short'] = np.where(data['ewma_short'] < data['ewma_long'], -1.0, 0.0)
<ipython-input-10-06876fc3a873>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crossover_signal'] = data['crossover_long'] + data['crossover_short']

In [11]:
# Volatility - Short and Long Windows
short_vol_window = 5
long_vol_window = 50

# Construct a `Fast` and `Slow` Exponential Moving Average from short and long windows, respectively
data['short_vol'] = data['daily_return'].ewm(halflife=short_vol_window).std()
data['long_vol'] = data['daily_return'].ewm(halflife=long_vol_window).std()

# Construct a crossover trading signal
data['vol_trend_long'] = np.where(data['short_vol'] < data['long_vol'], 1.0, 0.0)
data['vol_trend_short'] = np.where(data['short_vol'] > data['long_vol'], -1.0, 0.0) 
data['vol_trend_signal'] = data['vol_trend_long'] + data['vol_trend_short']

<ipython-input-11-508068c14cbe>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['short_vol'] = data['daily_return'].ewm(halflife=short_vol_window).std()
<ipython-input-11-508068c14cbe>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['long_vol'] = data['daily_return'].ewm(halflife=long_vol_window).std()
<ipython-input-11-508068c14cbe>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['vol_trend_long'] = np.where(data['short_vol'] < data['long_vol'], 1.0, 0.0)
<ipython-input-11-508068c14cbe>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['vol_trend_short'] = np.where(data['short_vol'] > data['long_vol'], -1.0, 0.0)
<ipython-input-11-508068c14cbe>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['vol_trend_signal'] = data['vol_trend_long'] + data['vol_trend_short']

In [12]:
data = data.dropna()

In [13]:
# Set bollinger band window
bollinger_window = 20

# Calculate rolling mean and standard deviation
data['bollinger_mid_band'] = data['Close'].rolling(window=bollinger_window).mean()
data['bollinger_std'] = data['Close'].rolling(window=20).std() # will use for upper and lower bands of bollinger

# Calculate upper and lowers bands of bollinger band
data['bollinger_upper_band']  = data['bollinger_mid_band'] + (data['bollinger_std'] * 1)
data['bollinger_lower_band']  = data['bollinger_mid_band'] - (data['bollinger_std'] * 1)

# Calculate bollinger band trading signal # signal to calc (doing mean revering strategy)
data['bollinger_long'] = np.where(data['Close'] < data['bollinger_lower_band'], 1.0, 0.0)
data['bollinger_short'] = np.where(data['Close'] > data['bollinger_upper_band'], -1.0, 0.0)
data['bollinger_signal'] = data['bollinger_long'] + data['bollinger_short']

In [14]:
#Calculate simple moving average of volume
data['Short_Volume'] = data['volume'].transform(lambda x: x.rolling(window = 5).mean())
data['Long_Volume'] = data['volume'].transform(lambda x: x.rolling(window = 15).mean())
data['SMA_Volume_Ratio'] = data['Short_Volume']/data['Long_Volume']

# Construct a crossover trading signal
data['crossover_vol_long'] = np.where(data['Short_Volume'] > data['Long_Volume'], 1.0, 0.0) 

# making sep columns if (where) fast passes close == long 
data['crossover_vol_short'] = np.where(data['Short_Volume'] < data['Long_Volume'], -1.0, 0.0)
data['crossover_vol_signal'] = data['crossover_vol_long'] + data['crossover_vol_short']

In [15]:
#Calculate the average true range and keep it in a function
def add_atr_to_dataframe (dataframe, newdf):
    newdf['ATR1'] = abs (dataframe['High'][ticker] - dataframe['Low'][ticker])
    newdf['ATR2'] = abs (dataframe['High'][ticker] - dataframe['Close'][ticker].shift())
    newdf['ATR3'] = abs (dataframe['Low'][ticker] - dataframe['Close'][ticker].shift())
    newdf['TrueRange'] = newdf[['ATR1', 'ATR2', 'ATR3']].max(axis=1)
    return newdf

#Call the average true range function
add_atr_to_dataframe(tickers_df, data)

,Close,DIS,daily_return,volume,ewma_short,ewma_long,crossover_long,crossover_short,crossover_signal,short_vol,...,Short_Volume,Long_Volume,SMA_Volume_Ratio,crossover_vol_long,crossover_vol_short,crossover_vol_signal,ATR1,ATR2,ATR3,TrueRange
Date,,,,,,,,,,,,,,,,,,,,,
2004-06-03,14.59,19.289444,-0.032493,6509478.0,14.818045,14.833302,0.0,-1.0,-1.0,0.012809,...,NaN,NaN,NaN,0.0,0.0,0.0,0.552441,0.098650,0.453791,0.552441
2004-06-04,15.12,19.361872,0.036326,4915560.0,14.932926,14.930196,1.0,0.0,1.0,0.037068,...,NaN,NaN,NaN,0.0,0.0,0.0,0.365005,0.404467,0.039461,0.404467
2004-06-07,15.80,19.635481,0.044974,6578611.0,15.196622,15.152189,1.0,0.0,1.0,0.038141,...,NaN,NaN,NaN,0.0,0.0,0.0,0.532711,0.453791,0.078920,0.532711
2004-06-08,16.18,19.796427,0.024051,5967157.0,15.451217,15.363490,1.0,0.0,1.0,0.032285,...,NaN,NaN,NaN,0.0,0.0,0.0,0.276220,0.207165,0.069056,0.276220
2004-06-09,15.51,19.780334,-0.041409,7252712.0,15.464692,15.388762,1.0,0.0,1.0,0.038395,...,6244703.6,NaN,NaN,0.0,0.0,0.0,0.394600,0.266354,0.128246,0.394600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-05-26,4.53,21.131382,0.063380,16299800.0,4.222073,3.473992,1.0,0.0,1.0,0.045004,...,12492360.0,1.717935e+07,0.727173,0.0,-1.0,-1.0,1.230001,0.910000,0.320002,1.230001
2009-05-27,4.71,20.554443,0.039735,14981300.0,4.285235,3.491009,1.0,0.0,1.0,0.043095,...,13107340.0,1.705764e+07,0.768415,0.0,-1.0,-1.0,0.949999,0.179998,0.770000,0.949999
2009-05-28,4.70,20.657774,-0.002123,12314700.0,4.338926,3.507653,1.0,0.0,1.0,0.040673,...,13465440.0,1.456015e+07,0.924815,0.0,-1.0,-1.0,0.910000,0.529999,0.380001,0.910000
2009-05-29,4.54,20.855825,-0.034043,11215600.0,4.364955,3.521866,1.0,0.0,1.0,0.041357,...,13182100.0,1.370908e+07,0.961560,0.0,-1.0,-1.0,0.750000,0.260000,0.490000,0.750000
2009-06-01,4.73,21.553316,0.041850,11990000.0,4.412210,3.538499,1.0,0.0,1.0,0.040439,...,13360280.0,1.329689e+07,1.004768,1.0,0.0,1.0,0.510000,1.040001,0.530001,1.040001

In [16]:
# Construct a crossover trading signal
data['crossover_atr_entry'] = np.where(data['TrueRange'] < 0.7, 1.0, 0.0) 

# making sep columns if (where) fast passes close == long 
data['crossover_atr_exit'] = np.where(data['TrueRange'] > 0.9, -1.0, 0.0)
data['crossover_atr_signal'] = data['crossover_atr_entry'] + data['crossover_atr_exit']

data

,Close,DIS,daily_return,volume,ewma_short,ewma_long,crossover_long,crossover_short,crossover_signal,short_vol,...,crossover_vol_long,crossover_vol_short,crossover_vol_signal,ATR1,ATR2,ATR3,TrueRange,crossover_atr_entry,crossover_atr_exit,crossover_atr_signal
Date,,,,,,,,,,,,,,,,,,,,,
2004-06-03,14.59,19.289444,-0.032493,6509478.0,14.818045,14.833302,0.0,-1.0,-1.0,0.012809,...,0.0,0.0,0.0,0.552441,0.098650,0.453791,0.552441,1.0,0.0,1.0
2004-06-04,15.12,19.361872,0.036326,4915560.0,14.932926,14.930196,1.0,0.0,1.0,0.037068,...,0.0,0.0,0.0,0.365005,0.404467,0.039461,0.404467,1.0,0.0,1.0
2004-06-07,15.80,19.635481,0.044974,6578611.0,15.196622,15.152189,1.0,0.0,1.0,0.038141,...,0.0,0.0,0.0,0.532711,0.453791,0.078920,0.532711,1.0,0.0,1.0
2004-06-08,16.18,19.796427,0.024051,5967157.0,15.451217,15.363490,1.0,0.0,1.0,0.032285,...,0.0,0.0,0.0,0.276220,0.207165,0.069056,0.276220,1.0,0.0,1.0
2004-06-09,15.51,19.780334,-0.041409,7252712.0,15.464692,15.388762,1.0,0.0,1.0,0.038395,...,0.0,0.0,0.0,0.394600,0.266354,0.128246,0.394600,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-05-26,4.53,21.131382,0.063380,16299800.0,4.222073,3.473992,1.0,0.0,1.0,0.045004,...,0.0,-1.0,-1.0,1.230001,0.910000,0.320002,1.230001,0.0,-1.0,-1.0
2009-05-27,4.71,20.554443,0.039735,14981300.0,4.285235,3.491009,1.0,0.0,1.0,0.043095,...,0.0,-1.0,-1.0,0.949999,0.179998,0.770000,0.949999,0.0,-1.0,-1.0
2009-05-28,4.70,20.657774,-0.002123,12314700.0,4.338926,3.507653,1.0,0.0,1.0,0.040673,...,0.0,-1.0,-1.0,0.910000,0.529999,0.380001,0.910000,0.0,-1.0,-1.0
2009-05-29,4.54,20.855825,-0.034043,11215600.0,4.364955,3.521866,1.0,0.0,1.0,0.041357,...,0.0,-1.0,-1.0,0.750000,0.260000,0.490000,0.750000,0.0,0.0,0.0
2009-06-01,4.73,21.553316,0.041850,11990000.0,4.412210,3.538499,1.0,0.0,1.0,0.040439,...,1.0,0.0,1.0,0.510000,1.040001,0.530001,1.040001,0.0,-1.0,-1.0

In [17]:
for ticker in tickers:
    data.to_csv("../Data/" + str(tickers[ticker]) +  "_Closing_2008" +  ".csv",index=True)

TypeError: list indices must be integers or slices, not str